@charset "uft-8";

* {
    font-family: 'Anton', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: bolder;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}


header {
    width: 100%;
    height: 130px;
    margin: 0 auto;
    text-align: center;
    background-color: gray;
    display: flex;
    flex-direction: column;

}

#up {
    width: 100%;
    height: 40px;
    background-color: rgb(40, 39, 39);
    text-align:center;
}

#up ul {
    width: 100%;
    height:100%;
    text-align:center;
    display: flex;
    justify-content: space-around;
    align-items:center;
    color:white;
}

#down {
    width: 100%;
    height: 90px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#down1{width: 30%; height:100%; background-color:black; text-align:left; margin-left: 50px;}
#down1 img {
    width: 195px;
    height: 75px;
    margin-top: 8px;
  
}
#down2{width: 30%; height:100%; background-color: black;}
#down2 ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    background-color: black;
    align-items:center;
    color:white;
}
#down3{width: 30%; height:100%; background-color:black;}
#down3 ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    text-align:center;
    align-items:center;
    color:white;
}
#down3 ul li{font-size:11px; color:white;}
#down3 img{width: 20px; height: 20px; }

#slider {
    width: 100%;
    height: 800px;
    background-color: gold;
    background-image: url("../img/stage2.webp");
    background-position: 30% 28%;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    text-align:left;
    color: white;
    align-items: center;
}
#sliderbox{width: 40%; height: 40%; display:flex; flex-direction:column;
        margin: 200px 0 0 400px; font-weight: bolder; }

#sliderbox p{font-size: 55px;  position: relative; animation: fadeInUp 2s;}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

#sliderbox hr{width: 568px; border: 1px solid white; margin: 20px 0; }
#sliderbox button{border-radius: 50px; width: 160px; height:40px; background-color:white;
    color:black; border: 1px solid white; cursor:pointer;}


#box1 {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    background-color: rgb(24, 24, 24);
    color:white;


}
#box1 h2{padding: 20px 0 20px 400px;}
#box1 img{width: 100%; height: 100px;  border-bottom: 5px solid black; margin: 0 auto;}
#box1 ul{width: 65%; height: 50%; display: flex; justify-content: space-evenly; 
    align-items: center; margin-left: 400px; text-align:center;}
#box1 ul li{width: 15%; height: 105%; overflow:hidden; border-radius: 20px; }
#box1 img:hover{transform:scale(1.05); transition:transform .2s; }


#box2 {
    width: 100%;
    height: 650px;
    margin: 0 auto;
    background-color:black;
    color:white;
}
#box2 h2{padding: 20px 0 0 400px; font-size: 30px; animation: fadeInUp 2s;}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}


#box2 hr{width: 95%; border: 1px solid gray; margin-left: 400px; margin-top: 20px;}
#box2 h4{padding: 20px 0 20px 400px;}
#box2 img{width: 188px; height: 100px; }
#box2 ul{width: 100%; height: 70%; display: flex; justify-content: space-evenly; 
    align-items: center; margin-left: 400px;}
#box2 ul li{width: 23%; height: 450px; background-color:pink; margin-top: 40px; font-size:25px;
    border-radius: 5px; display:flex; flex-direction:column; justify-content: flex-end; align-items: center; text-align:center;}
#box2 ul :nth-child(1){background-image: url("../img/musicpop.webp"); background-size: cover; background-position:center;}
#box2 ul :nth-child(2){background-image: url("../img/price.jpg"); background-size: cover; background-position:center;}
#box2 ul :nth-child(3){background-image: url("../img/popart.webp"); background-size: cover; background-position:center;}
#box2 ul :nth-child(4){background-image: url("../img/meta.webp"); background-size: cover; background-position:center;}

#box2 button{background-image:none !important; border-radius: 50px; width: 160px; height:40px; background-color:transparent;
    color:white; border: 2px solid white; margin: 20px 0;}
#box2 button:hover{background-color: white; color: black; border: 1px solid white;}



#box3 {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background-color: black;
    color:white;
}


#box3 hr{width: 95%; border: 1px solid gray; margin-left: 400px; margin-bottom: 20px; }
#box3title{display:flex; justify-content: space-between; align-items: center; margin-left: 400px;}
#box3title h2{ font-size: 25px; display: inline-block;}
#box3title button{border-radius: 50px; width: 160px; height:40px; background-color:white;
    color:black; border: 1px solid white; cursor:pointer; margin-right:50px;}
#box3 img{width: 100%; height: 33%;  border-bottom: 5px solid black; margin: 0 auto;}

#box3  ul{width: 100%; height: 100%; display: flex; justify-content: space-evenly; 
    align-items: center; margin-left: 400px; }
#box3 ul li{width: 13%; height: 70%; color:white; }
#box3 p{font-size:13px; font-weight:normal!important;  margin:10px 0; }





#box4 {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background-color: black;
    color:white;
}
#box4 hr{width: 95%; border: 1px solid gray; margin-left: 400px; margin-bottom: 20px; }
#box4title{display:flex; justify-content: space-between; align-items: center; margin-left: 400px;}
#box4title h2{ font-size: 25px; display: inline-block;}
#box4title button{border-radius: 50px; width: 160px; height:40px; background-color:white;
    color:black; border: 1px solid white; cursor:pointer; margin-right:50px;}
#box4 img{width: 100%; height: 33%;  border-bottom: 5px solid black; margin: 0 auto;}

#box4  ul{width: 100%; height: 100%; display: flex; justify-content: space-evenly; 
    align-items: center; margin-left: 400px; }
#box4 ul li{width: 15%; height: 90%; color:white; }
#box4 p{font-size:13px; font-weight:normal!important;  margin:10px 0; }




#box5 {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
#box5 p{ height: 64%; width:29%; font-size:90px; text-align:left;  
        margin-left:400px; line-height:103% }
#box5 span{font-size:19px; }
#box5 video{width: 38%; height: 65%;}



#box6 {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    background-color: white;
}

#box6 hr{width: 95%; border: 1px solid gray; margin-left: 400px; margin-bottom: 20px; }
#box6title{display:flex; justify-content: space-between; align-items: center; margin-left: 400px;}
#box6title h2{ font-size: 25px; display: inline-block; }
#box6title button{border-radius: 50px; width: 160px; height:40px; background-color:black;
    color:white; border: 1px solid black; cursor:pointer; margin-right:50px;}

#box6 img{width: 100%; height: 33%;  border-bottom: 5px solid black; margin: 0 auto; }

#box6  ul{width: 104%; height: 100%; display: flex; justify-content: space-evenly; 
    align-items: center; margin-left: 400px; margin-top: 50px;}
#box6 ul li{width: 17%; height: 100%; color: black; margin:10px; }
#box6 span{font-size:16px; margin:30px 0; }
#box6 p{font-size:13px; font-weight:normal!important;  margin:10px 0; }
#box6logo{width:9%; height:3%; background-color:gold; position:absolute; text-align:center;
           font-weight:bolder; border-radius: 2px; line-height:200%;font-size:12px; margin: 10px;}


#box7 {
    width: 100%;
    height: 900px;
    margin: 0 auto;
    background-color: white;
}

#box7 hr{width: 95%; border: 1px solid gray; margin-left: 400px; margin-bottom: 20px; }
#box7 h2{ font-size: 40px; margin-bottom: 30px; margin-left:400px;}
#box7 span{font-size:90px; margin: 10px 0; }
#box7 img{width: 8%; height: 30%; }

#box7  ul{width:130%; height: 100%; display: flex; justify-content: flex-start; 
    align-items: center; margin-left:400px; }
#box7 ul li{width: 20%; height: 100%; color: black; margin:10px; vertical-align:center; }
#box7 p{font-size:13px; font-weight:normal!important;  margin:10px 0; }
#box7 button{border-radius: 50px; width: 160px; height:40px; background-color:transparent;
    color:black; border: 1px solid black; cursor:pointer; margin-right:50px; margin-top: 20px;}
#box7 a:link{text-decoration:none; list-style: none; color:black;}

#box7 li:nth-child(2) img{width: 110%; height: 35%;}
#box7 li:nth-child(2){margin-top: 130px;}

#box7right{font-size:20px;}
#box7right span{font-size:30px;}



#box8 {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    background-color: white;
}
#box8 hr{width: 95%; border: 1px solid gray; margin-left: 400px; margin-bottom: 20px; }
#box8title{display:flex; justify-content: space-between; align-items: center;}
#box8title h2{ font-size: 25px; display: inline-block; }
#box8title button{border-radius: 50px; width: 160px; height:40px; background-color:black !important;
    color:white; border: 1px solid black; cursor:pointer; margin-right:5%; }

#box8 hr{width: 95%; border: 1px solid gray; margin-left: 400px; }
#box8 h2{ font-size: 40px; margin-left:400px;}
#box8 span{font-size:90px; margin: 10px 0; }
#box8 img{width: 9%; height: 37%; }

#box8  ul{width: 130%; height: 100%; display: flex; justify-content: flex-start; 
    align-items: center; margin-left:400px; margin-top: 40px;}
#box8 ul li{width: 30%; height: 100%; color: black; margin:10px; vertical-align:center; }
#box8 p{font-size:13px; font-weight:normal!important;  margin:10px 0; }
#box8 li:nth-child(1) button{border-radius: 50px; width: 160px; height:40px; background-color:transparent; margin: 30px 0;}

#box8 li:nth-child(2) img{width: 60%; height: 60%; margin-top: 40px;}
#box8 li:nth-child(2) img:hover{box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;}



#box9 {
    width: 100%;
    height: 850px;
    background-image: url("../img/bwbg.jpg");
    background-position: 10% 30%;
    background-size: cover;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#box9left{width: 15%; height: 100%; color:white;}
#box9 ul{width: 100%; height: 100%; display:flex; flex-direction:column; 
    justify-content: center; align-items: center; margin-left:250px;}
#box9 ul li{width: 100%; height:17%; line-height:120px; font-size:39px;border-right:10px solid white;}
#box9 ul li:hover{background-color: white; color:black; cursor:pointer;}
#box9right{width: 50%; height: 80%; font-size: 100px; display:flex; flex-direction:column; justify-content: center; align-items: center; 
    text-align:right;}
    #b91{width: 100%; height: 25%; font-size:  70px; color: white; }
    #b92{width: 100%; height: 25%; font-size:  70px; color: white; display:none;}
    #b93{width: 100%; height: 25%; font-size:  70px; color: white; display:none;}
    #b94{width: 100%; height: 25%; font-size:  70px; color: white; display:none;}



#box10 {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    text-align: center;
    background-color: white;
}
#box10 h1{font-size: 100px; text-align:left; margin-left:400px; padding-top: 100px; }
#box10 p{text-align:left; margin-left:400px; }
#flowword {width: 70%; height: 20%; overflow:hidden; font-size: 50px; margin-left: 400px;}
#box10bt1{ margin-left: 400px; border-radius: 50px; width: 160px; height:40px; background-color:black;
    color:white; border: 1px solid black; cursor:pointer; margin-right:5%;}
#box10bt2{border-radius: 50px; width: 160px; height:40px; background-color:white;
    color:black; border: 1px solid black; cursor:pointer; margin-right:5%;}






#box11 {
    width: 100%;
    height: 700px;
    margin: 0 auto;
    background-color: white;
}
#box11 hr{width: 95%; border: 1px solid gray; margin-left: 400px; margin-bottom: 20px; }
#box11 h2{ font-size: 40px; margin-bottom: 30px; margin-left:400px;}
#box11 span{font-size:90px; margin: 10px 0; }

#box11  ul{width:180%; height: 100%; display: flex; justify-content: flex-start; 
    align-items: center; margin-left:400px; }
#box11 ul li{width: 20%; height: 100%; color: black;  vertical-align:center; }
#box11 p{font-size:16px; font-weight:normal!important;  margin:10px 0; line-height: 30px; }
#box11 button{border-radius: 50px; width: 160px; height:40px; background-color:transparent;
    color:black; border: 1px solid black; cursor:pointer; margin-right:50px; margin-top: 20px;}


#box11 a:link{text-decoration:none; list-style: none; color:black;}

#box11 li:nth-child(2) img{width: 50%; height: 65%;}






footer {
    width: 100%;
    height: 500px;
    background-color: black;}

#sponsors{display:flex; justify-content: space-between; align-items: center; color:white;
margin-left:300px;  padding-top: 100px;}
#sponsors h2{ font-size: 25px; display: inline-block;}
#sponsors button{border-radius: 50px; width: 160px; height:40px; background-color:white !important;
    color:black; border: 1px solid black; cursor:pointer; margin-right:5%; }
footer hr{width: 70%; border: 1px solid gray; margin: 40px 0 40px 300px;}


    footer ul{
        width: 70%;
        height: 40%;
        display: flex;
        justify-content: space-around;
        text-align:center;
        align-items:center;
        color:white;
        margin: 0 auto;
        
    }
    footer ul li{font-size:11px; color:white; }
    footer ul li img{width: 75%; height: 100%; }
    footer ul li:nth-child(1){width: 300%; height: 20%; }
    footer ul li:nth-child(6){width: 300%; height: 20%; }
    footer ul li:nth-child(7){width: 300%; height: 20%; }

    #footer2{ width: 100%;
        height: 600px;
        background-color: black;
        color:white;}

        #footer2 ul{width: 65%;
            height: 70%;
            display: flex;
            align-items:center;
            color:white;
            margin: 0 auto;
            }

    #footer2box1 img{width:90%; text-align:center;}
    #footer2title{width: 40%; font-size: 30px;}

    #footer2box2{width: 70%; text-align:left; }
    #footer2email{width: 70%; background-color:transparent;
        border-top: 2px solid black;
        border-bottom: 2px solid gray;
        border-left: 2px solid black;
        border-right: 2px solid black;
    color:gray; font-size: 20px; font-weight:bolder;
    margin:15px 0;}

    #footer2content{font-size:7px; font-weight:normal!important;}
    #footer2 button{border-radius: 50px; width: 70%; height:40px; background-color:white !important;
        color:black; border: 1px solid black; cursor:pointer; }

    #footer2box3{width: 20%; line-height:30px; text-align:center;}
    #footer2box3 p{font-weight:normal!important;}

    #footer3{width: 100%; height: 900px; background-color:black; color:white;
    font-size: 140px;font-weight: normal !important; }

    #footer3box{display:flex; justify-content: flex-start; flex-direction:column; margin-left:300px;}
    #footer3 p{font-size: 13px; display: block; margin: 50px 0 50px 300px; }
    #footer3 hr{width: 70%; border: 1px solid white; margin-left: 300px;}
    #last{width: 100%; height: 40px; background-color:black; font-size: 10px; font-weight:normal!important;
                    text-align:center; display:flex; align-items:center; justify-content: center;}
