@charset "uft-8";

* {font-family: 'Anton', sans-serif; margin: 0; padding: 0;}
ul,ol,li {list-style: none; margin: 0; padding: 0;}

#slider{width: 100%; height: 1200px; background-color: black;}
#word{font-size: 100px; color:white; text-align: center; padding: 100px 0;}
#word2{ width: 80%; font-size: 30px; color:white; margin: 0 auto; padding: 50px 0;}

#slider .inner{width:80%; height: 30%; display:flex;  margin:0 auto;}
    #article1{width: 100%; height:30%; color:white; margin: 0 5px; }
    #article1 span{font-weight: normal!important; font-size: 13px;}
    #article1 p{ font-size: 30px; padding: 20px 0;}
    /* #article1 p:hover{ text-decoration: underline; cursor:pointer;} */
    #article1 img{width: 100%; height:auto; border-radius: 20px; }
    /* #article1 img:hover{opacity: 0.7; } */

    #article2{width: 100%; height:auto; color:white; margin: 0 5px;}
    #article2 span{font-weight: normal!important; font-size: 13px;}
    #article2 p{ font-size: 30px; padding: 20px 0;}
    /* #article2 p:hover{ text-decoration: underline; cursor:pointer;} */
    #article2 img{width: 100%; height:auto; border-radius: 20px; }


    #blog-section{ width: 100%; height: 1500px; background-color:white;}
    #blog-section .inner{width:70%; height: 1400px; background-color:gold; margin: 30px 30px 0 180px;}
       
    #blog-header{width: 90%; height: 50px; display:flex; justify-content: space-between; margin:0 auto;
                border-bottom: 2px solid lightgray;}
        
        
        #header-list {width:200px; height: auto; font-size:30px; color:black; 
            display:flex; flex-direction: row;}
        #header-list li{ margin:0 15px 0 0;}
        
        #header-select{width:250px; height: auto; display:flex; flex-direction: row; }
        #header-select select{width: 118px; height: 35px; border-radius: 20px; 
            border: 1px lightgray solid; margin:0 15px 0 0;}


    #blog-news{width:90%; height:auto; background-color:lightcoral; margin: 0 auto; margin-top: 50px;}
    .news-box{width: 100%; height: 400px; display:flex; justify-content: space-between; 
        border-bottom: 1px solid gray; margin-top: 40px;}
    .news-box ul{width: 100%; display:flex; flex-direction: row; margin: 0 auto;}
    .news-box ul li{ width: 50%; height: auto; margin: 0 auto;}
    .news-box ul li img{width:90%; }

    .news-box ul li p{font-size:13px; font-weight: normal!important ;}
    .news-box ul li span{font-size:25px;}
    .news-box ul li:nth-of-type(2) p:nth-of-type(2) {font-size:15px; color:rgb(97, 96, 96);}

    .news-blank{margin: 80px 0;}
    .news-blank img{width: 100%; height: 200px; margin:0 auto; }